{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FERIA VIRTUAL</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/seguimiento.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cssboostrapside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Static shop/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b7f0f5763e.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    
    <!-- CSS only -->

  
</head>
<body class="body" id="body" >
<!-- Image and text -->






    <!-- Page Content  -->


    <div id="content" style="background-color: rgb(163 255 163);">


<a></a>
<nav class="navbar navbar-expand-lg navbar-light ">
  

  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="color: rgb(0, 255, 0); border-color: rgb(0 255 0); background-color: rgb(255, 255, 255);" >
    <i class="fa-solid fa-caret-down"></i>
  </button>

  
  <br>  
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li id=""  class="nav-item">

          {% if request.user.rol == "1"%}  <!--Productor -->
 
          
          <a class="nav-link" href="{% url 'logout' %}" style="background-color: rgb(255, 0, 0); color: #ffffff;" >Cerrar Sesion</a>

          {% endif %}  

          {% if request.user.rol == "2"  %}  <!--Cliente externo -->

          
          <a class="nav-link" href="{% url 'logout' %}" style="background-color: rgb(255, 0, 0); color: #ffffff;" >Cerrar Sesion</a>

          {% endif %}  


          {% if request.user.rol == "3"  %}  <!--Cliente interno -->


          

          
          <a class="nav-link" href="{% url 'logout' %}" style="background-color: rgb(255, 0, 0); color: #ffffff;" >Cerrar Sesion</a>
          
        
          {% endif %}  

          {% if request.user.rol == "4"  %}  <!--Transportista -->
          <a class="nav-link" href="{% url 'registrarTransporte' %}" >Registrar Transporte</a>
          <a class="nav-link" href="{% url 'solicitudesTransportista' %}" >Envios activos</a>
          <a class="nav-link" href="{% url 'transportesRegistrados' %}">Transportes registrados</a>

          <a class="nav-link" href="{% url 'logout' %}" style="background-color: rgb(255, 0, 0); color: #ffffff;" >Cerrar Sesion</a>
          {% endif %}  

          {% if request.user.rol == "5"  %}  <!--Consultor -->
          <a class="nav-link" href="{% url 'seguimientoLista' %}" >Seguimiento</a>
          <a class="nav-link" href="{% url 'seguimientoComprobante' %}" >Seguimiento Comprobante</a>
          <a class="nav-link" href="{% url 'logout' %}" style="background-color: rgb(255, 0, 0); color: #ffffff;" >Cerrar Sesion</a>
          {% endif %}  


          {% if request.user.rol == "6"%}  <!--admin -->
          <a class="nav-link" href="{% url 'gestionContratos' %}" > Gestion de contratos</a>
          <a class="nav-link" href="{% url 'register' %}" > Registrar Usuario</a>
          <a class="nav-link" href="{% url 'Solicitud' %}">Solicitud</a>
          <a class="nav-link" href="{% url 'Solicitudes' %}" >Solicitudes</a>
          <a class="nav-link" href="{% url 'logout' %}" style="background-color: rgb(255, 0, 0); color: #ffffff;" >Cerrar Sesion</a>
          

          {% endif %}  <!--admin -->
          
          {% if request.user.rol == "7"  %}  <!--Revisor de calidad -->
          <a class="nav-link" href="{% url 'solicitudesRevisor' %}" >Revisiones pendientes</a>
          <a class="nav-link" href="{% url 'logout' %}" style="background-color: rgb(255, 0, 0); color: #ffffff;" >Cerrar Sesion</a>


        	
          {% endif %}  

          {% if user.is_active == False %}

          <a class="nav-link" href="{% url 'login' %}" style="background-color: rgb(186, 255, 82); color: #ffffff;">Ingresar</a>
          <a class="nav-link" href="{% url 'register-interno' %}" style="background-color: rgb(255, 160, 45); color: #ffffff;">Registrarse</a>

          {% endif %}  
          



         <!-- <ul class="collapse list-unstyled" id="homeSubmenu"></ul>*/ -->
      </li>     
    </ul>
  </div>  
</nav>





    <!-- /#page-content-wrapper -->
    {% if messages %}
      {% for message in messages %}
      <div class="notification {{ message.tags}}">
        {{ message }}
      </div>
      {% endfor %}
	  {% endif %}
    {% block content %}
    {% endblock %}

  </div>

  <!-- /#wrapper -->
  

  
</div>




<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5" style="background-color:#1d46ff;">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-dark"
            style="background-color: #ECEFF1"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4 text-white"
               style="background-color:#1d46ff;"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Mantente conectado con nosotros por nuestras redes sociales:</span>
        </div>
       
        <div>
          <a href="https://www.facebook.com/" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com/?lang=es" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
     
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->
<script src="{% static 'assets/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
<script src="{% static 'assets/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
<script src="{% static 'assets/extra-libs/DataTables/datatables.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="application/javascript" src="{% static 'js/jsboostrapside.js' %}"></script>
<script type="application/javascript" src="{% static 'js/status.js' %}"></script>
<script type="application/javascript" src="{% static 'js/popup.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="application/javascript" src="{% static 'js/script.js' %}" ></script>

</body>
</html>



