{% extends 'baseboostrap.html' %}
{% load humanize %}
{% block content %}


<article>
    <div class="row center-xs ">

        <div class="usuario">
            <h2 class="username"><a href="">@{{ request.user.username }}</a></h2>           
        </div>
            <table class="col-xs-12" >
                <tr>
                    <th>Tipo de fruta</th>    
                    <th>Variedad</th>       
                    <th>Cantidad (Cajas)</th>
                    <th>Precio por caja($)</th> 
                    <th>Fecha de subida</th>   
                    
                    <th>Imagen</th>  
                    <th>Modificar</th>  
                    <th>Eliminar</th>  
                </tr>
                {% for p in prod %} 
                <tr>
                    <td>{{ p.get_producto_display }}</td>
                    <td>{{ p.variedad }}</td>
                    <td>{{ p.cantidad }}</td>
                    <td>{{ p.precio }} </td>
                    <td><i class="clock"></i><time data-time="#">{{ p.fecha_subida }}</time></td>
                    <td> <img  src="{{ p.imagen.url }}"> </td>
                    <td> <button>Modificar</button> </td>
                    <td> <button>Eliminar</button> </td>
                </tr>
                {% endfor %}
            </table>
    </div>
</article>
{% endblock %}