{% extends 'baseboostrap.html' %}
{% load humanize %}

{% block content %}

{% if request.user.rol == "4" or request.user.rol == "7"  %}


{% else %}
<br>
<br>
<div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table
          id="zero_config"
          class="table table-striped table-bordered" style="font-size: 12px">
         
          <thead>
            <tr>
              <th>Numero de seguimiento</th>
              <th>Estado</th>
              <th>Fecha de creacion</th>
              <th>Seguimiento</th>
            </tr>
          </thead>
          <tbody>
            {% for s in solis  %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.get_EstadoSolicitud_display }}</td>
                <td>{{ s.fecha_creacion|date:"d/m/Y" }}</td>



                {% ifequal s.EstadoSolicitud '17' %}
                <td><a href="{% url 'comprobante' s.pk%}" class="btn btn-success"><iconify-icon icon="material-symbols:content-paste-search"></iconify-icon></a></td>
                {% else %}
                <td><a href="{% url 'seguimiento' s.pk%}" class="btn btn-success">Seguimiento</a></td>
                <!--                 <td><a class="btn btn-success " href="{% url 'modificarSolicitudClienteExterno' s.pk%}">Continuar</a></td> -->
                     
                {% endifequal %}


                
                

            </tr>
        {% endfor %}
          </tbody>

        </table>


      </div>
    </div>
  </div>
  {%endif%}


{% endblock %}