{% extends 'baseboostrap.html' %}
{% load humanize %}
{% block content %}



<br>
<iconify-icon icon="ic:round-rotate-90-degrees-ccw"></iconify-icon>
  <div>Voltear si es necesario  </div>

<div class="main">
  <DIv>DESLIZAR</DIv>
    <i class="fa-sharp fa-solid fa-arrow-left" style="float:left;"></i>
    <i class="fa-sharp fa-solid fa-left-right"></i>
    <i class="fa-sharp fa-solid fa-arrow-right" style="float:right;"></i>


<div class="card">
  <div class="card-body">
  <div class="table-responsive">
    <table class="table table-light table-striped">
      <tr class="table-active">
      
          <td><b>Usuario </b></td>
          <td><b>Producto</b></td>
          <td><b>Variedad</b></td>
          <td><b>Calibre</b></td>
          <td><b>Cant Actual</b></td>
          <td><b>Cant Necesaria</b></td>
          <td><b>Contenido</b></td>
          <td><b>Cliente</b></td>
          <td><b>Fecha Inicio</b></td>
          <td><b>Direccion</b></td>
          <td><b>Codigo Postal</b></td>
          <td><b>Estado Solicitud</b></td>
          
          <td><b>Imagen</b></td>
          <td><b>Mod Estado</b></td>

        {% for s in solir %} 
        <tr>
      
            <td>{{ s.usuario.username }}</td>
        
            <td>{{ s.get_producto_display }}</td>
    
            <td>{{ s.variedad }}</td>
            
            <td>{{ s.get_calibre_display }}</td>
  
            <td>{{ s.cantidad_actual }}</td>

            <td>{{ s.cantidad_necesaria }}</td>

            <td>{{ s.contenido }}</td>

            <td>{{ s.cliente }}</td>

            <td>{{ s.fecha_creacion|date:"d/m/Y" }}</td>

            <td>{{ s.usuario.direccion }}</td>

            <td>{{ s.usuario.codigopostal }}</td>

            <td>{{ s.get_EstadoSolicitud_display }}</td>

            {% if s.imagen %}
            <td> <img style="height: 100px;"  src="{{ s.imagen.url }}"> </td>
            
            {% else %}
            <td><b></b></td>
            {% endif %}
            <td><p class="boton_mod"><a  href="{% url 'modificarSolicitudRevisor' s.pk%}"><iconify-icon icon="uiw:setting"></iconify-icon></a></p></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  </div>
</div>



  


{% endblock %}