{% extends 'baseboostrap.html' %}
{% load humanize %}
{% block content %}
{% if request.user.rol == "3"  %} 
    <body>

        <!-- Header-->

        <!-- Section-->
        

        <a  class="fas fa-shopping-cart" href="/carrito.html" style="color: rgb(0, 255,0); right: 20px; position: absolute; margin-top: 10px;"></a>
        
            


        

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.imagen.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                {% if user.is_authenticated %}
                                <button class="btn">
                                    <a href="{% url 'add_product_catalogo' product.id %}"><span>Añadir a carrito</span></a>
                                </button>
                                {% endif %}
                                {% if user.is_anonymous %}
                                
                                    <a href=""><span></span></a>
                                    <button class="btn">
                                        <a href="login"><span>comprar</span></a>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Footer-->

    </body>
    {% endif  %} 
{% endblock %}